/*****************
ヘッダー
******************/
.c-Header__title {
  color: #707070;
  text-align: center;
}

/*****************
カード
******************/
.c-Card {
  &__title {
    position: absolute;
    top: 0;
    left: 20px;
    color: #88abe0;
    font-size: 25px;
  }
  &__subtitle {
    font-size: 25px;
    color: #316745;
  }
}

/*****************
地図
******************/
.c-Access {
  &__title {
    color: #fff;
    padding: 20px;
  }
}