@use "../component/import";


.p-Card {
  &__container {
    width: 100%;
    padding: 20px;
    height: 642px;
    @include mixin.mq() {
      height: 681px;
      padding-top: 39px;
      margin-bottom: 39px;
    }
    @include mixin.mq(l) {
      height: 1196px;
    }
  }
  &__sub-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    @include mixin.mq(l) {
      height: 388px;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-left: 20px;
    }
  }
  &__sub-container {
    background-color: rgba(255, 255, 255, 0.5);//白半透明
    width: calc(100% - 20px);
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    height: 163px;
    @include mixin.mq() {
      height: 172px;
    }
    @include mixin.mq(l) {
      height: 174px;
    }
  }
}