@use "../component/import";


/**************************
サイドバーメニュー
***************************/
.p-Sidebar { //グレー部分
  &__layer { //navの親
    position: absolute;
    top: 0;
    right: 0;
    overflow-x: hidden;
    width: 0; //0にすると非表示
    height: 2716px;
    transition: .5s;
    background-color: #707070;
    font-size: 1.75rem;
    z-index: 1000;
    @include mixin.mq() {
      height: 1826px;
    }
    @include mixin.mq(l) {
      width: 356px;
      background-color: transparent;
      height: 2843px;
    }
  }
}