@use "../global" as g;

.l-Wrapper {
 @include g.mq(l) {
 display: flex; //サイドバーとメインを並べる（子要素の高さは同じになる）
 width: 100%;
 }
}

.p-Container {
 @include g.mq(l){
 width: calc(100% - 356px); //サイドバー356px
 }
}