/*
カード
***************************/
.l-Card {
 &__wrapper {
   width: 100%;
   margin: 0 auto;
   @include mixin.mq() {
     display: flex;
     justify-content: center;
     height: auto;
     width: 100%;
   }
   @include mixin.mq(l) {
     height: 1436px;
     padding-top: 120px;
     margin-bottom: 120px;
   }
 }
}