@use "../global" as g;


/*****************
hero画像
******************/
.c-Hero {
  position: relative;
  img {
    width: 100%;
    height: 285px;
    object-fit: cover;
    @include g.mq(l) {
      height: 530px;
      object-fit: cover;
    }
  }
}


/*****************
カード
******************/
.c-Card {
  &__img {
    position: relative; //titleに対しての親
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include g.mq(l) {
      height: 100%;
    }
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      //height: 642px;
      object-fit: cover;
      @include g.mq() {
        //height: 681px;
        width:100%;
      }
      @include g.mq(l) {
        height: 100%;
      }
    }
  }
}