@use "../global" as g;

/**************************
サイドバーメニュー
***************************/
.c-Sidebar {
  &__List {
    font-size: 2.4rem;
    margin-top: 40px;
    margin-bottom: 40px;
    //height: 100%;
    &Item {
      font-size: 2rem;
      padding-left: 20px;
    }
  }
}

/*****************
フッター
******************/
.c-Footer {
  &__list-item {
    +li {
      &::before {
        position: absolute;
        display: block;
        content: "";
        top: 50%;
        height: 14px;
        margin-top: -7px;
        border-right: 1px solid #707070;
      }
    }
    a {
      padding: 10px;
      display: block;
    }
  }
}